@model IList<GameModel>
@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>

<form asp-controller="Home" asp-action="searchresult">
    <div>
        <label>Title:</label>
        <input type="text" id="title-search" />

        <label>Minimum Players:</label>
        <input type="number" id="min-search" />

        <label>Maximum Players:</label>
        <input type="number" id="max-search" />

        <label>Maximum Players:</label>
        <input type="number" id="max-search" />
    </div>
    <div>
        @*@foreach ()
        {

        }*@
    </div>
    <div>

    </div>
    <input type="submit" />
</form>

<main>
    <h2>Search Results</h2>
    <section>
        @foreach (GameModel game in Model)
        {
            <a asp-controller="home" asp-action="detail" asp-route-id="@game.Id"><span>@game.Title</span></a>
            <span>MIN: @game.MinPlayers</span>
            <span>MAX: @game.MaxPlayers</span>
            <span>
                CATE:
                @foreach (string cate in game.Categories)
                {
                    @(cate),
                                }
            </span>
            <span>
                MECH:
                @foreach (string mech in game.Mechanics)
                {
                    @(mech),
                                }
            </span>
        }
    </section>
</main>